In [65]:
import pandas as pd
import numpy as np
data=pd.read_csv("/content/Chroma_Features_Main_Dataset.csv")
data

,0,1,2,3,4,5,6,7,8,9,10,11,gender,label
0,0.432488,0.491815,0.523997,0.518006,0.493282,0.470768,0.492656,0.536364,0.507345,0.544169,0.469461,0.420436,male,adult
1,0.550980,0.633927,0.632397,0.601437,0.520888,0.470092,0.455220,0.410089,0.454187,0.510549,0.494445,0.501295,male,adult
2,0.457489,0.474328,0.459457,0.449791,0.461657,0.453070,0.487244,0.497393,0.569792,0.589360,0.467036,0.448786,male,adult
3,0.463985,0.462935,0.458931,0.441836,0.446491,0.420002,0.442185,0.463970,0.509519,0.516826,0.460586,0.479687,male,adult
4,0.488712,0.520800,0.535209,0.495170,0.534017,0.560581,0.571302,0.516753,0.571805,0.562018,0.456434,0.494733,male,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.469901,0.541177,0.502391,0.400408,0.324453,0.237937,0.178894,0.209326,0.270576,0.262817,0.245056,0.297005,female,child
2996,0.393186,0.438162,0.412779,0.316119,0.334210,0.234454,0.261641,0.284742,0.272087,0.234631,0.213813,0.291997,female,child
2997,0.367361,0.466650,0.483502,0.395505,0.259017,0.227606,0.189038,0.152332,0.219846,0.401416,0.351640,0.289488,female,child
2998,0.428526,0.542809,0.402458,0.258381,0.181985,0.223265,0.122131,0.103100,0.179998,0.181975,0.170180,0.235630,female,child
2999,0.434809,0.548705,0.371845,0.341084,0.274912,0.208711,0.143083,0.133503,0.186074,0.258098,0.234705,0.198343,female,child

In [66]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from keras.layers import Input, Dense
from keras.models import Model
from keras.optimizers import adam
from sklearn.model_selection import train_test_split

In [67]:
x = data.iloc[:, :-2]
y = data.iloc[:, -1]
x

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.432488,0.491815,0.523997,0.518006,0.493282,0.470768,0.492656,0.536364,0.507345,0.544169,0.469461,0.420436
1,0.550980,0.633927,0.632397,0.601437,0.520888,0.470092,0.455220,0.410089,0.454187,0.510549,0.494445,0.501295
2,0.457489,0.474328,0.459457,0.449791,0.461657,0.453070,0.487244,0.497393,0.569792,0.589360,0.467036,0.448786
3,0.463985,0.462935,0.458931,0.441836,0.446491,0.420002,0.442185,0.463970,0.509519,0.516826,0.460586,0.479687
4,0.488712,0.520800,0.535209,0.495170,0.534017,0.560581,0.571302,0.516753,0.571805,0.562018,0.456434,0.494733
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.469901,0.541177,0.502391,0.400408,0.324453,0.237937,0.178894,0.209326,0.270576,0.262817,0.245056,0.297005
2996,0.393186,0.438162,0.412779,0.316119,0.334210,0.234454,0.261641,0.284742,0.272087,0.234631,0.213813,0.291997
2997,0.367361,0.466650,0.483502,0.395505,0.259017,0.227606,0.189038,0.152332,0.219846,0.401416,0.351640,0.289488
2998,0.428526,0.542809,0.402458,0.258381,0.181985,0.223265,0.122131,0.103100,0.179998,0.181975,0.170180,0.235630
2999,0.434809,0.548705,0.371845,0.341084,0.274912,0.208711,0.143083,0.133503,0.186074,0.258098,0.234705,0.198343

In [68]:
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)
y

array([0, 0, 0, ..., 1, 1, 1])

In [69]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(x)
x_scaled = scaler.transform(x)
x_scaled = pd.DataFrame(x_scaled)
x_scaled

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.593404,0.594541,0.578765,0.580384,0.579806,0.642498,0.739915,0.759277,0.715743,0.770787,0.664632,0.402175
1,0.790050,0.820846,0.718824,0.687998,0.618518,0.641483,0.678722,0.564167,0.628716,0.713409,0.705187,0.496596
2,0.634895,0.566692,0.495374,0.492395,0.535459,0.615936,0.731070,0.699063,0.817979,0.847913,0.660694,0.435280
3,0.645676,0.548551,0.494695,0.482135,0.514193,0.566308,0.657416,0.647419,0.719303,0.724121,0.650225,0.471363
4,0.686712,0.640698,0.593252,0.550928,0.636928,0.777290,0.868471,0.728977,0.821275,0.801250,0.643484,0.488934
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.655493,0.673147,0.550848,0.428697,0.343060,0.293063,0.227041,0.253963,0.328115,0.290612,0.300356,0.258039
2996,0.528179,0.509100,0.435064,0.319976,0.356743,0.287835,0.362299,0.370490,0.330588,0.242509,0.249639,0.252191
2997,0.485322,0.554467,0.526442,0.422373,0.251301,0.277557,0.243621,0.165901,0.245062,0.527156,0.473372,0.249262
2998,0.586829,0.675747,0.421729,0.245501,0.143280,0.271043,0.134255,0.089831,0.179824,0.152642,0.178809,0.186370
2999,0.597256,0.685135,0.382174,0.352177,0.273591,0.249200,0.168503,0.136807,0.189771,0.282558,0.283553,0.142829

In [70]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score
from keras.layers import Input, Dense
from keras.models import Model
from keras.optimizers import RMSprop



# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=42)

# Define the autoencoder model
encoding_dim = 12
input_data = Input(shape=(x_train.shape[1],))
encoded = Dense(encoding_dim, activation='relu')(input_data)
decoded = Dense(x_train.shape[1], activation='sigmoid')(encoded)

autoencoder = Model(input_data, decoded)
encoder = Model(input_data, encoded)

optimizer = RMSprop()  # Change the optimizer to RMSprop

autoencoder.compile(optimizer=optimizer, loss='binary_crossentropy')

# Train the autoencoder
autoencoder.fit(x_train, x_train, epochs=10, batch_size=32, shuffle=True)

# Obtain the encoded representations of the data
encoded_data_train = encoder.predict(x_train)
encoded_data_test = encoder.predict(x_test)

# Train a logistic regression classifier
classifier = LogisticRegression()
classifier.fit(encoded_data_train, y_train)

# Predict the labels using the encoded representation
label_predictions = classifier.predict(encoded_data_test)

# Evaluate the performance
accuracy = accuracy_score(y_test, label_predictions)
precision = precision_score(y_test, label_predictions)
recall = recall_score(y_test, label_predictions)
f1 = f1_score(y_test, label_predictions)
roc_auc = roc_auc_score(y_test, label_predictions)

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)
print("ROC AUC Score:", roc_auc)

Epoch 1/10
75/75 [==============================] - 5s 2ms/step - loss: 0.6787
Epoch 2/10
75/75 [==============================] - 0s 2ms/step - loss: 0.6681
Epoch 3/10
75/75 [==============================] - 0s 2ms/step - loss: 0.6619
Epoch 4/10
75/75 [==============================] - 0s 2ms/step - loss: 0.6565
Epoch 5/10
75/75 [==============================] - 0s 2ms/step - loss: 0.6517
Epoch 6/10
75/75 [==============================] - 0s 2ms/step - loss: 0.6473
Epoch 7/10
75/75 [==============================] - 0s 2ms/step - loss: 0.6435
Epoch 8/10
75/75 [==============================] - 0s 2ms/step - loss: 0.6404
Epoch 9/10
75/75 [==============================] - 0s 2ms/step - loss: 0.6379
Epoch 10/10
75/75 [==============================] - 0s 2ms/step - loss: 0.6359
75/75 [==============================] - 0s 2ms/step
19/19 [==============================] - 0s 1ms/step
Accuracy: 0.9183333333333333
Precision: 0.9190140845070423
Recall: 0.9094076655052264
F1 Score: 0.914185639229422
ROC AUC Score: 0.9179626186951052

WARNING:tensorflow:No training configuration found in the save file, so the model was *not* compiled. Compile it manually.

In [71]:
#4
import numpy as np
input_sample = [0.686712, 0.640698, 0.593252, 0.550928, 0.636928, 0.777290, 0.868471, 0.728977, 0.821275, 0.801250, 0.643484, 0.488934]
input_sample = np.array(input_sample).reshape(1, 12)
encoded_sample = encoder.predict(input_sample)

predictions = classifier.predict(encoded_sample)
threshold = 0.5
binary_predictions = (predictions > threshold).astype(int)
print(binary_predictions)

1/1 [==============================] - 0s 57ms/step
[0]

In [72]:
#1500
import numpy as np
input_sample = [1.000000, 0.592887, 0.273069, 0.097997, 0.057796, 0.114112, 0.233302, 0.366464, 0.311509, 0.276021, 0.594875, 0.586872]
input_sample = np.array(input_sample).reshape(1, 12)
encoded_sample = encoder.predict(input_sample)

predictions = classifier.predict(encoded_sample)
threshold = 0.5
binary_predictions = (predictions > threshold).astype(int)
print(binary_predictions)

1/1 [==============================] - 0s 27ms/step
[1]

In [73]:
#1499
import numpy as np
input_sample = [0.486863, 0.364883, 0.282707, 0.291565, 0.310914, 0.390962, 0.487632, 0.458521, 0.376474, 0.499133, 0.656269, 0.393245]
input_sample = np.array(input_sample).reshape(1, 12)
encoded_sample = encoder.predict(input_sample)

predictions = classifier.predict(encoded_sample)
threshold = 0.5
binary_predictions = (predictions > threshold).astype(int)
print(binary_predictions)

1/1 [==============================] - 0s 25ms/step
[0]

In [74]:
#2599
import numpy as np
input_sample = [0.377813, 0.359893, 0.395458, 0.499061, 0.462250, 0.314258, 0.192029, 0.224185, 0.379166, 0.431067, 0.295571, 0.195259]
input_sample = np.array(input_sample).reshape(1, 12)
encoded_sample = encoder.predict(input_sample)

predictions = classifier.predict(encoded_sample)
threshold = 0.5
binary_predictions = (predictions > threshold).astype(int)
print(binary_predictions)

1/1 [==============================] - 0s 26ms/step
[1]

In [78]:
import tensorflow as tf
from tensorflow.keras.models import load_model

# Compile the encoder model
encoder.compile(optimizer='adam', loss='binary_crossentropy')

# Save the encoder model
encoder.save('Chroma_AE_AGE_ESTIMAATION.h5')