In [2]:
import pandas as pd
import numpy as np
data=pd.read_csv("/content/Chroma_Features_Main_Dataset.csv")
data

,0,1,2,3,4,5,6,7,8,9,10,11,gender,label
0,0.432488,0.491815,0.523997,0.518006,0.493282,0.470768,0.492656,0.536364,0.507345,0.544169,0.469461,0.420436,male,adult
1,0.550980,0.633927,0.632397,0.601437,0.520888,0.470092,0.455220,0.410089,0.454187,0.510549,0.494445,0.501295,male,adult
2,0.457489,0.474328,0.459457,0.449791,0.461657,0.453070,0.487244,0.497393,0.569792,0.589360,0.467036,0.448786,male,adult
3,0.463985,0.462935,0.458931,0.441836,0.446491,0.420002,0.442185,0.463970,0.509519,0.516826,0.460586,0.479687,male,adult
4,0.488712,0.520800,0.535209,0.495170,0.534017,0.560581,0.571302,0.516753,0.571805,0.562018,0.456434,0.494733,male,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.469901,0.541177,0.502391,0.400408,0.324453,0.237937,0.178894,0.209326,0.270576,0.262817,0.245056,0.297005,female,child
2996,0.393186,0.438162,0.412779,0.316119,0.334210,0.234454,0.261641,0.284742,0.272087,0.234631,0.213813,0.291997,female,child
2997,0.367361,0.466650,0.483502,0.395505,0.259017,0.227606,0.189038,0.152332,0.219846,0.401416,0.351640,0.289488,female,child
2998,0.428526,0.542809,0.402458,0.258381,0.181985,0.223265,0.122131,0.103100,0.179998,0.181975,0.170180,0.235630,female,child
2999,0.434809,0.548705,0.371845,0.341084,0.274912,0.208711,0.143083,0.133503,0.186074,0.258098,0.234705,0.198343,female,child

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3000 non-null   float64
 1   1       3000 non-null   float64
 2   2       3000 non-null   float64
 3   3       3000 non-null   float64
 4   4       3000 non-null   float64
 5   5       3000 non-null   float64
 6   6       3000 non-null   float64
 7   7       3000 non-null   float64
 8   8       3000 non-null   float64
 9   9       3000 non-null   float64
 10  10      3000 non-null   float64
 11  11      3000 non-null   float64
 12  gender  3000 non-null   object
 13  label   3000 non-null   object
dtypes: float64(12), object(2)
memory usage: 328.2+ KB

In [4]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,10,11
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,0.389557,0.385347,0.367794,0.350928,0.322927,0.303445,0.301980,0.311615,0.330013,0.352948,0.368621,0.386858
std,0.080473,0.082881,0.099068,0.106689,0.092982,0.091115,0.101220,0.104890,0.108722,0.117343,0.112853,0.101756
min,0.074922,0.118465,0.076059,0.068051,0.079808,0.042667,0.039998,0.044962,0.070159,0.092536,0.060028,0.076030
25%,0.340720,0.332346,0.302949,0.273340,0.255491,0.240145,0.230419,0.234380,0.250097,0.261226,0.291540,0.331120
50%,0.389516,0.384351,0.365720,0.353235,0.318484,0.294204,0.293541,0.310332,0.328908,0.358618,0.375272,0.392642
75%,0.440033,0.435536,0.427732,0.420156,0.385037,0.363630,0.367151,0.379496,0.398578,0.430663,0.443922,0.449460
max,0.677489,0.746429,0.850014,0.843322,0.792932,0.708975,0.651768,0.692159,0.680973,0.678473,0.676058,0.932390

In [5]:
x=data.iloc[:,:-2]
x

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.432488,0.491815,0.523997,0.518006,0.493282,0.470768,0.492656,0.536364,0.507345,0.544169,0.469461,0.420436
1,0.550980,0.633927,0.632397,0.601437,0.520888,0.470092,0.455220,0.410089,0.454187,0.510549,0.494445,0.501295
2,0.457489,0.474328,0.459457,0.449791,0.461657,0.453070,0.487244,0.497393,0.569792,0.589360,0.467036,0.448786
3,0.463985,0.462935,0.458931,0.441836,0.446491,0.420002,0.442185,0.463970,0.509519,0.516826,0.460586,0.479687
4,0.488712,0.520800,0.535209,0.495170,0.534017,0.560581,0.571302,0.516753,0.571805,0.562018,0.456434,0.494733
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.469901,0.541177,0.502391,0.400408,0.324453,0.237937,0.178894,0.209326,0.270576,0.262817,0.245056,0.297005
2996,0.393186,0.438162,0.412779,0.316119,0.334210,0.234454,0.261641,0.284742,0.272087,0.234631,0.213813,0.291997
2997,0.367361,0.466650,0.483502,0.395505,0.259017,0.227606,0.189038,0.152332,0.219846,0.401416,0.351640,0.289488
2998,0.428526,0.542809,0.402458,0.258381,0.181985,0.223265,0.122131,0.103100,0.179998,0.181975,0.170180,0.235630
2999,0.434809,0.548705,0.371845,0.341084,0.274912,0.208711,0.143083,0.133503,0.186074,0.258098,0.234705,0.198343

In [6]:
y=data.iloc[:,-1]
y

0       adult
1       adult
2       adult
3       adult
4       adult
        ...
2995    child
2996    child
2997    child
2998    child
2999    child
Name: label, Length: 3000, dtype: object

In [7]:
y.value_counts()

adult    1500
child    1500
Name: label, dtype: int64

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(x)
x_scaled=scaler.transform(x)
x_scaled=pd.DataFrame(x_scaled)
x_scaled

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.593404,0.594541,0.578765,0.580384,0.579806,0.642498,0.739915,0.759277,0.715743,0.770787,0.664632,0.402175
1,0.790050,0.820846,0.718824,0.687998,0.618518,0.641483,0.678722,0.564167,0.628716,0.713409,0.705187,0.496596
2,0.634895,0.566692,0.495374,0.492395,0.535459,0.615936,0.731070,0.699063,0.817979,0.847913,0.660694,0.435280
3,0.645676,0.548551,0.494695,0.482135,0.514193,0.566308,0.657416,0.647419,0.719303,0.724121,0.650225,0.471363
4,0.686712,0.640698,0.593252,0.550928,0.636928,0.777290,0.868471,0.728977,0.821275,0.801250,0.643484,0.488934
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.655493,0.673147,0.550848,0.428697,0.343060,0.293063,0.227041,0.253963,0.328115,0.290612,0.300356,0.258039
2996,0.528179,0.509100,0.435064,0.319976,0.356743,0.287835,0.362299,0.370490,0.330588,0.242509,0.249639,0.252191
2997,0.485322,0.554467,0.526442,0.422373,0.251301,0.277557,0.243621,0.165901,0.245062,0.527156,0.473372,0.249262
2998,0.586829,0.675747,0.421729,0.245501,0.143280,0.271043,0.134255,0.089831,0.179824,0.152642,0.178809,0.186370
2999,0.597256,0.685135,0.382174,0.352177,0.273591,0.249200,0.168503,0.136807,0.189771,0.282558,0.283553,0.142829

In [9]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

In [10]:
import random
import tensorflow as tf
from sklearn.model_selection import train_test_split
np.random.seed(42)
random.seed(42)
tf.random.set_seed(42)

x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=42)
x_train = np.array(x_train).reshape(-1, 12, 1)
x_test = np.array(x_test).reshape(-1, 12, 1)

In [17]:
from tensorflow.keras.layers import LSTM, Dense, Dropout
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import BatchNormalization
from tensorflow.keras import regularizers

# Data preprocessing
# Assuming you have already preprocessed your data and split it into X_train and y_train

# Model architecture
model = Sequential()
model.add(LSTM(256, return_sequences=False))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid', kernel_regularizer=regularizers.l2(0.001)))

# Model compilation
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Training the model
history = model.fit(x_train, y_train, epochs=15, batch_size=32, validation_split=0.2)

# Evaluate the model on test data
loss, accuracy = model.evaluate(x_test, y_test)
print("Test Loss:", loss)
print("Test Accuracy:", accuracy)

Epoch 1/15
60/60 [==============================] - 7s 74ms/step - loss: 0.2982 - accuracy: 0.8562 - val_loss: 0.6931 - val_accuracy: 0.4812
Epoch 2/15
60/60 [==============================] - 3s 45ms/step - loss: 0.2752 - accuracy: 0.8781 - val_loss: 0.6611 - val_accuracy: 0.4833
Epoch 3/15
60/60 [==============================] - 3s 45ms/step - loss: 0.2675 - accuracy: 0.8781 - val_loss: 0.6166 - val_accuracy: 0.6354
Epoch 4/15
60/60 [==============================] - 3s 45ms/step - loss: 0.2715 - accuracy: 0.8818 - val_loss: 0.6433 - val_accuracy: 0.4958
Epoch 5/15
60/60 [==============================] - 3s 57ms/step - loss: 0.2819 - accuracy: 0.8833 - val_loss: 0.7017 - val_accuracy: 0.4854
Epoch 6/15
60/60 [==============================] - 3s 51ms/step - loss: 0.2697 - accuracy: 0.8813 - val_loss: 0.6629 - val_accuracy: 0.5354
Epoch 7/15
60/60 [==============================] - 3s 45ms/step - loss: 0.2754 - accuracy: 0.8797 - val_loss: 0.5712 - val_accuracy: 0.6187
Epoch 8/15
60/60 [==============================] - 3s 43ms/step - loss: 0.2695 - accuracy: 0.8854 - val_loss: 0.3953 - val_accuracy: 0.8313
Epoch 9/15
60/60 [==============================] - 3s 45ms/step - loss: 0.2654 - accuracy: 0.8891 - val_loss: 0.3190 - val_accuracy: 0.8938
Epoch 10/15
60/60 [==============================] - 4s 63ms/step - loss: 0.2509 - accuracy: 0.9000 - val_loss: 0.5784 - val_accuracy: 0.7021
Epoch 11/15
60/60 [==============================] - 3s 44ms/step - loss: 0.2516 - accuracy: 0.8953 - val_loss: 0.2923 - val_accuracy: 0.8500
Epoch 12/15
60/60 [==============================] - 3s 44ms/step - loss: 0.2477 - accuracy: 0.9005 - val_loss: 0.3460 - val_accuracy: 0.8292
Epoch 13/15
60/60 [==============================] - 3s 43ms/step - loss: 0.2666 - accuracy: 0.8911 - val_loss: 0.3651 - val_accuracy: 0.8208
Epoch 14/15
60/60 [==============================] - 3s 56ms/step - loss: 0.2662 - accuracy: 0.8917 - val_loss: 1.3204 - val_accuracy: 0.5958
Epoch 15/15
60/60 [==============================] - 3s 48ms/step - loss: 0.2417 - accuracy: 0.9068 - val_loss: 0.3593 - val_accuracy: 0.8708
19/19 [==============================] - 1s 14ms/step - loss: 0.2996 - accuracy: 0.8933
Test Loss: 0.29955410957336426
Test Accuracy: 0.8933333158493042

In [18]:
#4
input_sample=[0.686712, 0.640698, 0.593252, 0.550928, 0.636928, 0.777290, 0.868471, 0.728977, 0.821275, 0.801250, 0.643484, 0.488934]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 12, 1)
predictions = model.predict(input_sample)
predictions

threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 451ms/step
[[0]]

In [19]:
#1499
input_sample=[0.486863, 0.364883, 0.282707, 0.291565, 0.310914, 0.390962, 0.487632, 0.458521, 0.376474, 0.499133, 0.656269, 0.393245]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 12, 1)
predictions = model.predict(input_sample)
predictions

threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 39ms/step
[[0]]

In [20]:
#1500
input_sample=[1.000000, 0.592887, 0.273069, 0.097997, 0.057796, 0.114112, 0.233302, 0.366464, 0.311509, 0.276021, 0.594875, 0.586872]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 12, 1)
predictions = model.predict(input_sample)
predictions

threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 27ms/step
[[1]]

In [21]:
#2599
input_sample=[0.377813, 0.359893, 0.395458, 0.499061, 0.462250, 0.314258, 0.192029, 0.224185, 0.379166, 0.431067, 0.295571, 0.195259]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 12, 1)
predictions = model.predict(input_sample)
predictions

threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 28ms/step
[[1]]

In [22]:
model.save('LSTM_Chroma_Age_Estimation.h5')