In [41]:
import pandas as pd
import numpy as np

In [42]:
data=pd.read_csv("/content/Chroma_Features_Main_Dataset.csv")

In [43]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,gender,label
0,0.432488,0.491815,0.523997,0.518006,0.493282,0.470768,0.492656,0.536364,0.507345,0.544169,0.469461,0.420436,male,adult
1,0.550980,0.633927,0.632397,0.601437,0.520888,0.470092,0.455220,0.410089,0.454187,0.510549,0.494445,0.501295,male,adult
2,0.457489,0.474328,0.459457,0.449791,0.461657,0.453070,0.487244,0.497393,0.569792,0.589360,0.467036,0.448786,male,adult
3,0.463985,0.462935,0.458931,0.441836,0.446491,0.420002,0.442185,0.463970,0.509519,0.516826,0.460586,0.479687,male,adult
4,0.488712,0.520800,0.535209,0.495170,0.534017,0.560581,0.571302,0.516753,0.571805,0.562018,0.456434,0.494733,male,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.469901,0.541177,0.502391,0.400408,0.324453,0.237937,0.178894,0.209326,0.270576,0.262817,0.245056,0.297005,female,child
2996,0.393186,0.438162,0.412779,0.316119,0.334210,0.234454,0.261641,0.284742,0.272087,0.234631,0.213813,0.291997,female,child
2997,0.367361,0.466650,0.483502,0.395505,0.259017,0.227606,0.189038,0.152332,0.219846,0.401416,0.351640,0.289488,female,child
2998,0.428526,0.542809,0.402458,0.258381,0.181985,0.223265,0.122131,0.103100,0.179998,0.181975,0.170180,0.235630,female,child
2999,0.434809,0.548705,0.371845,0.341084,0.274912,0.208711,0.143083,0.133503,0.186074,0.258098,0.234705,0.198343,female,child

In [44]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,gender,label
0,0.432488,0.491815,0.523997,0.518006,0.493282,0.470768,0.492656,0.536364,0.507345,0.544169,0.469461,0.420436,male,adult
1,0.550980,0.633927,0.632397,0.601437,0.520888,0.470092,0.455220,0.410089,0.454187,0.510549,0.494445,0.501295,male,adult
2,0.457489,0.474328,0.459457,0.449791,0.461657,0.453070,0.487244,0.497393,0.569792,0.589360,0.467036,0.448786,male,adult
3,0.463985,0.462935,0.458931,0.441836,0.446491,0.420002,0.442185,0.463970,0.509519,0.516826,0.460586,0.479687,male,adult
4,0.488712,0.520800,0.535209,0.495170,0.534017,0.560581,0.571302,0.516753,0.571805,0.562018,0.456434,0.494733,male,adult

In [45]:
data.isnull().sum()

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
gender    0
label     0
dtype: int64

In [46]:
x=data.iloc[:,:-2]
x

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.432488,0.491815,0.523997,0.518006,0.493282,0.470768,0.492656,0.536364,0.507345,0.544169,0.469461,0.420436
1,0.550980,0.633927,0.632397,0.601437,0.520888,0.470092,0.455220,0.410089,0.454187,0.510549,0.494445,0.501295
2,0.457489,0.474328,0.459457,0.449791,0.461657,0.453070,0.487244,0.497393,0.569792,0.589360,0.467036,0.448786
3,0.463985,0.462935,0.458931,0.441836,0.446491,0.420002,0.442185,0.463970,0.509519,0.516826,0.460586,0.479687
4,0.488712,0.520800,0.535209,0.495170,0.534017,0.560581,0.571302,0.516753,0.571805,0.562018,0.456434,0.494733
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.469901,0.541177,0.502391,0.400408,0.324453,0.237937,0.178894,0.209326,0.270576,0.262817,0.245056,0.297005
2996,0.393186,0.438162,0.412779,0.316119,0.334210,0.234454,0.261641,0.284742,0.272087,0.234631,0.213813,0.291997
2997,0.367361,0.466650,0.483502,0.395505,0.259017,0.227606,0.189038,0.152332,0.219846,0.401416,0.351640,0.289488
2998,0.428526,0.542809,0.402458,0.258381,0.181985,0.223265,0.122131,0.103100,0.179998,0.181975,0.170180,0.235630
2999,0.434809,0.548705,0.371845,0.341084,0.274912,0.208711,0.143083,0.133503,0.186074,0.258098,0.234705,0.198343

In [47]:
y=data.iloc[:,-1]
y

0       adult
1       adult
2       adult
3       adult
4       adult
        ...
2995    child
2996    child
2997    child
2998    child
2999    child
Name: label, Length: 3000, dtype: object

In [48]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y=label_encoder.fit_transform(y)
y

array([0, 0, 0, ..., 1, 1, 1])

In [49]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(x)
x_scaled=scaler.transform(x)
x_scaled=pd.DataFrame(x_scaled)
x_scaled

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.593404,0.594541,0.578765,0.580384,0.579806,0.642498,0.739915,0.759277,0.715743,0.770787,0.664632,0.402175
1,0.790050,0.820846,0.718824,0.687998,0.618518,0.641483,0.678722,0.564167,0.628716,0.713409,0.705187,0.496596
2,0.634895,0.566692,0.495374,0.492395,0.535459,0.615936,0.731070,0.699063,0.817979,0.847913,0.660694,0.435280
3,0.645676,0.548551,0.494695,0.482135,0.514193,0.566308,0.657416,0.647419,0.719303,0.724121,0.650225,0.471363
4,0.686712,0.640698,0.593252,0.550928,0.636928,0.777290,0.868471,0.728977,0.821275,0.801250,0.643484,0.488934
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.655493,0.673147,0.550848,0.428697,0.343060,0.293063,0.227041,0.253963,0.328115,0.290612,0.300356,0.258039
2996,0.528179,0.509100,0.435064,0.319976,0.356743,0.287835,0.362299,0.370490,0.330588,0.242509,0.249639,0.252191
2997,0.485322,0.554467,0.526442,0.422373,0.251301,0.277557,0.243621,0.165901,0.245062,0.527156,0.473372,0.249262
2998,0.586829,0.675747,0.421729,0.245501,0.143280,0.271043,0.134255,0.089831,0.179824,0.152642,0.178809,0.186370
2999,0.597256,0.685135,0.382174,0.352177,0.273591,0.249200,0.168503,0.136807,0.189771,0.282558,0.283553,0.142829

In [50]:
import numpy as np
import random
import tensorflow as tf

# Set random seed for reproducibility
np.random.seed(42)
random.seed(42)
tf.random.set_seed(42)

In [51]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=42)

In [52]:
x_train = np.array(x_train).reshape(-1, 12, 1)
x_test = np.array(x_test).reshape(-1, 12, 1)

In [53]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv1D, MaxPooling1D, Flatten, Dense

In [56]:
# Create a Conv1D model
model = Sequential()
model.add(Conv1D(32, kernel_size=3, activation='relu', input_shape=(12, 1)))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(128, activation='tanh'))
model.add(Dense(1, activation='sigmoid'))

In [59]:
# Compile and train the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(x_train, y_train, epochs=15, batch_size=32, validation_data=(x_test, y_test))

Epoch 1/15
75/75 [==============================] - 1s 6ms/step - loss: 0.1728 - accuracy: 0.9367 - val_loss: 0.1627 - val_accuracy: 0.9433
Epoch 2/15
75/75 [==============================] - 0s 3ms/step - loss: 0.1703 - accuracy: 0.9392 - val_loss: 0.1596 - val_accuracy: 0.9433
Epoch 3/15
75/75 [==============================] - 0s 3ms/step - loss: 0.1783 - accuracy: 0.9283 - val_loss: 0.1652 - val_accuracy: 0.9417
Epoch 4/15
75/75 [==============================] - 0s 3ms/step - loss: 0.1701 - accuracy: 0.9329 - val_loss: 0.1618 - val_accuracy: 0.9400
Epoch 5/15
75/75 [==============================] - 0s 3ms/step - loss: 0.1708 - accuracy: 0.9375 - val_loss: 0.2184 - val_accuracy: 0.9150
Epoch 6/15
75/75 [==============================] - 0s 3ms/step - loss: 0.1735 - accuracy: 0.9383 - val_loss: 0.1593 - val_accuracy: 0.9450
Epoch 7/15
75/75 [==============================] - 0s 3ms/step - loss: 0.1728 - accuracy: 0.9329 - val_loss: 0.1605 - val_accuracy: 0.9383
Epoch 8/15
75/75 [==============================] - 0s 3ms/step - loss: 0.1678 - accuracy: 0.9354 - val_loss: 0.1648 - val_accuracy: 0.9400
Epoch 9/15
75/75 [==============================] - 0s 3ms/step - loss: 0.1680 - accuracy: 0.9408 - val_loss: 0.1616 - val_accuracy: 0.9417
Epoch 10/15
75/75 [==============================] - 0s 3ms/step - loss: 0.1702 - accuracy: 0.9362 - val_loss: 0.1896 - val_accuracy: 0.9283
Epoch 11/15
75/75 [==============================] - 0s 3ms/step - loss: 0.1677 - accuracy: 0.9379 - val_loss: 0.1631 - val_accuracy: 0.9417
Epoch 12/15
75/75 [==============================] - 0s 3ms/step - loss: 0.1664 - accuracy: 0.9413 - val_loss: 0.1611 - val_accuracy: 0.9433
Epoch 13/15
75/75 [==============================] - 0s 3ms/step - loss: 0.1713 - accuracy: 0.9337 - val_loss: 0.1588 - val_accuracy: 0.9417
Epoch 14/15
75/75 [==============================] - 0s 3ms/step - loss: 0.1724 - accuracy: 0.9333 - val_loss: 0.1602 - val_accuracy: 0.9417
Epoch 15/15
75/75 [==============================] - 0s 3ms/step - loss: 0.1653 - accuracy: 0.9404 - val_loss: 0.1639 - val_accuracy: 0.9400

In [60]:
loss, accuracy = model.evaluate(x_test, y_test)
print('Test Loss:', loss)
print('Test Accuracy:', accuracy)

19/19 [==============================] - 0s 2ms/step - loss: 0.1639 - accuracy: 0.9400
Test Loss: 0.16386669874191284
Test Accuracy: 0.9399999976158142

In [61]:
x_scaled.iloc[4]

0     0.686712
1     0.640698
2     0.593252
3     0.550928
4     0.636928
5     0.777290
6     0.868471
7     0.728977
8     0.821275
9     0.801250
10    0.643484
11    0.488934
Name: 4, dtype: float64

In [67]:
#4
input_sample=[0.686712, 0.640698, 0.593252, 0.550928, 0.636928, 0.777290, 0.868471, 0.728977, 0.821275, 0.801250, 0.643484, 0.488934]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 12, 1)
predictions = model.predict(input_sample)
predictions

threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 21ms/step
[[0]]

In [68]:
x_scaled.iloc[1499]

0     0.486863
1     0.364883
2     0.282707
3     0.291565
4     0.310914
5     0.390962
6     0.487632
7     0.458521
8     0.376474
9     0.499133
10    0.656269
11    0.393245
Name: 1499, dtype: float64

In [69]:
#1499
input_sample=[0.486863, 0.364883, 0.282707, 0.291565, 0.310914, 0.390962, 0.487632, 0.458521, 0.376474, 0.499133, 0.656269, 0.393245]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 12, 1)
predictions = model.predict(input_sample)
predictions

threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 30ms/step
[[0]]

In [66]:
x_scaled.iloc[1500]

0     1.000000
1     0.592887
2     0.273069
3     0.097997
4     0.057796
5     0.114112
6     0.233302
7     0.366464
8     0.311509
9     0.276021
10    0.594875
11    0.586872
Name: 1500, dtype: float64

In [70]:
#1500
input_sample=[1.000000, 0.592887, 0.273069, 0.097997, 0.057796, 0.114112, 0.233302, 0.366464, 0.311509, 0.276021, 0.594875, 0.586872]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 12, 1)
predictions = model.predict(input_sample)
predictions

threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 79ms/step
[[1]]

In [71]:
x_scaled.iloc[2599]

0     0.377813
1     0.359893
2     0.395458
3     0.499061
4     0.462250
5     0.314258
6     0.192029
7     0.224185
8     0.379166
9     0.431067
10    0.295571
11    0.195259
Name: 2599, dtype: float64

In [72]:
#2599
input_sample=[0.377813, 0.359893, 0.395458, 0.499061, 0.462250, 0.314258, 0.192029, 0.224185, 0.379166, 0.431067, 0.295571, 0.195259]
len(input_sample)
input_sample = np.array(input_sample).reshape(1, 12, 1)
predictions = model.predict(input_sample)
predictions

threshold = 0.5
binary_prediction = (predictions > threshold).astype(int)
print(binary_prediction)

1/1 [==============================] - 0s 32ms/step
[[1]]

In [74]:
model.save('CNN_Chroma_Age_Estimation.h5')